@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

a {
    color: #1d3557;;
    text-decoration: none;
}
a:hover {
    color: #e63946;
    
}

body {
    font-family: 'Helvetica';
    background: linear-gradient(#a8dadc 5%,#f1faee 95%);
    background-attachment: fixed;
}

#description-container {
    margin-bottom: 5%;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #a8dadc;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    position: sticky;
    top: 0;
    width: 100%
}

.header-text:hover {
    color: #e63946;
}

hr {
    border: 1px solid #1d3557;
}

.links {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 5%;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #a8dadc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

html {
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5 {
    color: #1d3557;
}

/* Challenge #2 ---------------------- */
.stats-container {
    display: flex;
    align-items: flex-start;
}

/* Disabled in the final submission */
/* .stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
} */
/* ----------------------------------- */

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    background-color: #ffffff;
    color: #1d3557;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:active {
    background-color: #e63946;
    color:#f1faee
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
}

#back-to-top {
    margin-right: 0;
}

#welcome-msg, #stats, #games {
    scroll-margin-top: 120px;
}

#top-games {
    margin-bottom: 5%;
}